<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <!-- Compiled Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="./AboutMe.css">
    <title>My Little Map</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    
    <div class="card" >
        
        <div class="card-content">
                <img src="../../../img/cv.jpg" class=" circle" />
                <h4 class="center"> Antoine DUVARD</h1>
                <h5 class="center"> Cartographer, JavaScript developper</h2>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-tabs">
                <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s3"><a href="#test-swipe-1">Skills</a></li>
                        <li class="tab col s3"><a class="active" href="#test-swipe-2" >Work History</a></li>
                        <li class="tab col s3"><a href="#test-swipe-3">Education</a></li>
                        
                      </ul>
                      <div id="test-swipe-2" class="col s12">
                          <ul>
                              <li><strong>Geosys,</strong> Balma — Technicien d'exploitation informatique
                                   <br> septembre 2016 à juin 2017
                                   <br><p>Livraison de produits liés à l’exploitation d’images satellites pour l’agriculture de précision. Gestion et traitement d’archives/catalogues d’images satellite. Traitement et préparation des données vectorielles pour exploitation.</p> 
                                    </li>
                              <li><strong>Direction de l'Alimentation, de l'Agriculture et de la Forêt de Guadeloupe,</strong> Basse-Terre— Cartographe
                                <br>février  2016 à août 2016
                                <br> Appui à la réalisation de travaux de cartographie de la contamination par la chlordécone. Analyse et traitement cartographique des différentes données disponibles concernant la contamination par la chlordécone.
                                    </li>
                              <li><strong>DEXIP,</strong> Nantes— Cartographe
                                <br>  septembre 2015 à décembre 2015
                                <br>  Mise à jour de la base de données géographiques des conventions de servitude du réseau de gaz GRT (EX-GDF SUEZ)
                                    </li>
                              <li><strong>Université de La Rochelle,</strong>— Ingénieur d’études
                                <br>  Août 2014 à octobre 2014
                                <br>  Création de la cartographie des herbiers marins  sur les îles d'Oléron et de Ré ainsi que l'estuaire du Lay sur l'été 2014.
                                    </li>
                          </ul>
                      </div>
                      <div id="test-swipe-3" class="col s12">
                          <ul>
                            <li></li>
                            <li><strong>Université de La Rochelle,</strong> La Rochelle — Master mention Sciences pour l'environnement spécialité Géographie appliquée à la gestion des littoraux
                                    septembre 2012 à juin 2014
                                    </li>
                            <li><strong>Université de Rennes II,</strong> Rennes—Master 1 Télédétection, Analyse Spatiale et Environnement
                                    septembre 2011 à septembre 2012
                                    </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div id="test-swipe-1" class="col s12">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
      </div>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
    <script src='./AboutMe.js' ></script>

  </body>
</html>
